body {
    background-image: url('/S6 PROJECT(TEAM 6)/Login/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}


